@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Labrada&display=swap");
/* MY Name */
@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
/* Type Writter */
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
/* Homepage style */

.homepagebackground {
  width: 100%;
  height: 100vh;
  /* ----------- */
  /* background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  ); */
  /* background-image: url("../../Images//a.png"); */
  /* ----------- */
  background-image: url("../../Images/Homepage-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homepage-my-info {
  position: relative;
  right: 30px;
  /* border: 2px solid white; */
}
.row {
  padding-top: 80px;
}
/* ------------------------------------------------------------------ */
.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* ------------------------------------------------------------------ */
.Typewriter__wrapper {
  font-size: 2em !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
  font-family: "Philosopher", sans-serif;
  color: rgb(255, 255, 255) !important;
  /* text-shadow: 2px 2px 4px #201e1e3b !important; */
  text-shadow: 2px 2px 3px #0b0b0b;
}

.Typewriter__cursor {
  font-size: 2.4em !important;
  color: rgba(9, 9, 50, 0.639) !important;
}

.headtext {
  padding-top: 120px;
  font-size: 2.4em !important;
  color: whitesmoke !important;
  /* text-shadow: 2px 2px 4px #201e1e3b !important; */
  text-shadow: 2px 2px 3px #0b0b0b;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
  font-family: "Alkatra", cursive;
}

.nametext {
  font-size: 2em !important;
  font-family: "Alkatra", cursive;
  color: rgba(255, 217, 0, 0.932) !important;
  /* text-shadow: 1px 1px 1px #201e1e3b; */
  text-shadow: 2px 2px 3px #0b0b0b;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}

.imagedeveloper {
  margin-top: 80px;
  text-align: center;
  width: 380px;
  height: 380px;
  border-radius: 200px;
  background-image: url(../../Images/arun-img.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: rgba(246, 246, 246, 0.256) 0px 5px 15px !important;
  opacity: 0.9;
}

.socailmediabtn {
  margin-top: 2rem;
  width: 90px;
  height: 45px;
  background-color: transparent;
  border: none;
  border-radius: 15px;
}

.socailmediabtn:hover {
  background-color: transparent;
  box-shadow: rgba(165, 164, 164, 0.836) 0px 5px 15px !important;
  opacity: 0.6;
  cursor: pointer;
}

.icon-github {
  color: rgb(255, 255, 255);
  font-size: 35px;
  cursor: pointer;
  filter: drop-shadow(1px 1px rgb(36, 244, 241));
}

.icon-linkedin {
  color: rgb(35, 145, 236);
  font-size: 35px;
  cursor: pointer;
  filter: drop-shadow(1px 1px white);
}

.icon-mail {
  color: rgb(215, 15, 15);
  font-size: 35px;
  cursor: pointer;
  filter: drop-shadow(1px 1px white);
}
/* @media screen and (min-width:1080px) and (max-width: 1200px) {
  .social-btn-div{
    position: relative;
    left:50px;
  }
} */
/* ------------------------------------------------------------------ */
@media screen and (min-width: 320px) and (max-width: 385px) {
  .homepagebackground {
    width: 100%;
    height: 100%;
    background-color: #4158d0;
  }
  .homepage-my-info {
    position: relative;
    right: 0;
  }
  .row {
    padding-top: 50px;
  }
  .Typewriter__wrapper {
    font-size: 1.5em !important;
  }
  .Typewriter__cursor {
    font-size: 2.2em !important;
  }
  .headtext {
    padding-top: 100px;
    font-size: 1.5em !important;
  }
  .nametext {
    font-size: 1.8em !important;
  }
  .imagedeveloper {
    margin-top: 30px;
    max-width: 240px;
    max-height: 240px;
    margin-left: 20px;
  }
  .socailmediabtn {
    margin-top: 1rem;
  }
}
/* ------------------------------------------------------------------ */
@media screen and (min-width: 385px) and (max-width: 470px) {
  .homepagebackground {
    width: 100%;
    height: 100%;
    background-color: #4158d0;
  }
  .row {
    padding-top: 50px;
  }
  .Typewriter__wrapper {
    font-size: 2em !important;
    margin-left: 45px;
  }
  .Typewriter__cursor {
    font-size: 2.2em !important;
  }
  .headtext {
    padding-top: 100px;
    font-size: 1.8em !important;
    margin-left: 45px;
  }
  .nametext {
    font-size: 2em !important;
    margin-left: 45px;
  }
  .imagedeveloper {
    margin-top: 40px;
    max-width: 280px;
    max-height: 280px;
    margin-left: 20px;
  }
  .socailmediabtn {
    margin-top: 1rem;
    margin-left: 20px;
  }
}
/* ------------------------------------------------------------------ */
@media screen and (min-width: 480px) and (max-width: 780px) {
  .homepagebackground {
    width: 100vw;
    height: 100vh;
  }
  .imagedeveloper {
    margin-top: 70px;
    max-width: 280px;
    max-height: 280px;
  }
  .resumebtn {
    margin-left: 10px;
    border-radius: 20px;
    padding: 10px;
  }
}
/* ------------------------------------------------------------------ */
