@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Labrada&display=swap");
/* Navbar import */
@import url("https://fonts.googleapis.com/css2?family=Tillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
/* ----------- */
.navbar {
  width: 100%;
  height: 100px;
  background-color: transparent;
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.5rem 3rem !important;
  font-size: 1.3rem !important;
  font-family: "Tillana", cursive;
}

.navbar-icons {
  /* color: rgba(38, 197, 17, 0.776); */
  width: 20px !important;
  height: 20px !important;
  position: relative;
  bottom: 2px;
  margin-right: 5px;
}

.sticky {
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px #000000;
  height: 4px !important;
  width: 28px !important;
  margin-top: 3px !important;
  margin-bottom: 5px !important;
  margin-right: 2rem !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

.my-logo-name {
  position: relative;
  top: 37px;
  left: 50px;
  font-size: 14px;
  letter-spacing: 1px;
}

.logo {
  font-family: "Allura", cursive;
  font-weight: bolder;
  color: rgba(255, 217, 0, 0.932);
  font-size: 60px;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.628); */
  text-shadow: 2px 2px 3px #0b0b0b;
}

.logo-span {
  color: white;
  font-size: 30px;
  font-family: "Kaushan Script", cursive;
  letter-spacing: 1px;
  font-style: italic;
  text-shadow: 1px 1px 2px #030303;
}

.navbar-nav .nav-link {
  color: rgb(249, 246, 238) !important;
  font-size: 16px !important;
  letter-spacing: 1px;
  font-weight: 500 !important;
  padding-right: 1rem !important;
  padding-left: 1.5rem !important;
  text-shadow: 0.5px 0.5px 1px #030303;
}

.navbar-nav .nav-link:hover {
  cursor: pointer !important;
  color: rgb(255, 255, 255) !important;
  font-weight: 500 !important;
  letter-spacing: 1.5px;
  transform: scale(1.1);
  transition: transform 0.3s ease, color 0.3s ease;
}

.resumebtn {
  margin-left: 30px;
  border-radius: 25px;
  padding: 0 18px;
  font-family: "Philosopher", sans-serif;
  /* ----------- */
  /* background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 100%); */
  /* ----------- */
  box-shadow: rgba(183, 179, 179, 0.35) 0px 0px 2px 2px;
  border: none;
  background: transparent;
}
.resumebtn:hover {
  background-color: #000000 !important;
}
.resume-title {
  color: whitesmoke !important;
  font-weight: lighter;
}

.resume-title:hover {
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
}
/* ------------------------------------------------------------------ */
@media (max-width: 767px) {
  .navbar {
    padding: 1rem 0rem !important;
    background-color: transparent !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
  .responsive-navbar {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    /* ----------- */
    /* background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 0%,
      #ffcc70 100%
    ); */
    /* background-color: #000000; */
    /* ----------- */
    background-color: #162a4a;
  }
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resumebtn {
    width: 110px;
    display: block;
    margin: 5px auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
    letter-spacing: 1px;
    font-size: 14px;
  }
  .my-logo-name {
    position: relative;
    top: 20px;
    left: 38px;
    font-size: 12px;
    letter-spacing: 0px;
  }
  .logo {
    font-size: 40px !important;
    font-weight: bolder;
    color: rgba(255, 217, 0, 0.932);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.628);
    position: relative;
    bottom: 8px;
    margin-left: 8px !important;
  }
  .logo-span {
    color: white;
    font-size: 20px;
    font-family: "Kaushan Script", cursive;
    letter-spacing: 1.5px;
    font-style: italic;
    text-shadow: 1px 1px 2px #030303;
  }
}
/* ------------------------------------------------------------------ */
