@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Labrada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

/* ------------------------------------------------------------------ */
/* Homepage style */
/* Homepage.css */
/* ------------------------------------------------------------------ */
/* Aboutpage style */
/* Aboutpage.css */
/* ------------------------------------------------------------------ */
/* Projectpage style */
/* ProjectCards.css */
/* ------------------------------------------------------------------ */
/* Contactpage Style */
/* Contactpage.css */
/* ------------------------------------------------------------------ */
/* skills */
/* Myskills.css */
/* ------------------------------------------------------------------ */
body {
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  cursor: default;
}

/*Scrollbar   */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c05ab9cb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(174, 64, 224, 0.65);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.911);
  border-radius: 12px;
}
